:root{
   /* dark theme color */
   --text-color: #edf3ff;
   --subheading-color:#97a7ca;
   --placeholder-color: #c3cdde;
   --primary-color:#101623;
   --secondary-color:#283045;
   --secondary-hover-color:#333e58;
   --scorllbar-color:#62a6a7f;
}

body{
    color:var(--text-color);
    background: var(--primary-color);
}
.container{
    padding: 32px 0 60px;
}
.container :where(.app-header, .suggestion,.message,
.prompt-wrapper, .disclaimer-text) {
    margin: 0 auto;
    width:100%;
    padding: 0 20px;
    max-width: 980px;
}
.container .app-header{
    margin-top: 4vh;
}
.app-header .heading{
    font-size:3rem;
    width:fit-content;
    font-family: sans-serif;
    background: linear-gradient(to right,#1d7efd,#8f6fff);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.app-header .sub-heading{
    font-size: 2.6rem;
    margin-top: -5px;
    color:var(--subheading-color);
    font-family: sans-serif;
}

.container .suggestion{
    display: flex;
    gap: 15px;
    margin-top: 9.5vh;
    list-style:none;
    overflow-x:auto;
    scrollbar-width: none;
}
/* .container :is(.app-header, .suggestion){
    display: none;
} */
.suggestion .suggestion-item{
    width: 228px;
    padding: 18px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 12px;
    background: var(--secondary-color);
}
.suggestion .suggestion-item:hover{
    background: var(--secondary-color);
}
.suggestion .suggestion-item .text{
    font-size: 1.1rem;
}
.suggestion .suggestion-item span{
    height: 45px;
    width: 45px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    border-radius: 50%;
    color: #1d7efd;
    background: var(--primary-color);
} 
.container .chat-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.chat-container .message{
    display: flex;
    gap: 11px;
    align-items: center;
}
.chat-container .bot-message .avatar{
    height: 43px;
    width: 43px;
    flex-shrink: 0;
    padding: 6px;
    align-self: flex-start;
    margin-right: -7px;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-hover-color);
}
.chat-container .message .message-text{
    padding: 3px 16px;
    word-wrap: break-word;
    white-space: pre-line;
}
.chat-container .bot-message{
    margin: 9px auto;
}
.chat-container .user-message{
    flex-direction: column;
    align-items: flex-end;    
}
.chat-container .user-message .message-text{
    padding: 12px 16px;
    max-width: 75%;
    font-family: sans-serif;
    border-radius: 13px 13px 3px 13px;
    background: var(--secondary-color);
}

.prompt-container{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background: var(--primary-color);
}
.prompt-container :where(.prompt-wrapper,.prompt-form,.prompt-action){
    display: flex;
    gap:12px;
    height: 56px;
    align-items: center;
}
.prompt-wrapper .prompt-form{
    width: 90%;
    height:100%;
    border-radius: 130px;
    background: var(--secondary-color);
}
.prompt-form .prompt-input{
    height: 100%;
    width: 100%;
    background:none;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 24px;
    color: var(--text-color);
}
.prompt-form .prompt-input::placeholder{
    color:var(--placeholder-color);
}
.prompt-wrapper button{
    width: 56px;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    flex-shrink: 0;
    color: var(--text-color);
    background: var(--secondary-color);
    transition: 0.3s ease;
}
.prompt-wrapper button:hover{
    background: var(--secondary-hover-color);
}
.prompt-form .prompt-action{
    gap: 5px;
    margin-right: 7px;
}
.prompt-form .prompt-action button{
    height: 45px;
    width: 45px;
}
.prompt-form #send-prompt-btn{
    color: #fff;
    display: none;
    background: #04064a;
}
.prompt-form .prompt-input:valid ~ .prompt-action #send-prompt-btn{
    display: block;
}
.prompt-form #send-prompt-btn:hover{
    background: var(#0264e3);
}
.prompt-container .disclaimer-text{
    text-align: center;
    font-size: 0.9rem;
    font-family: sans-serif;
    padding: 16px 20px 0;
    color: var(--placeholder-color);
}

.ai-message {
  width: 500px;
   margin-left: 260px;
  max-width: 80%;
  background-color: #020543;
  padding: 16px;
  margin: 12px 0;
  margin-bottom: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(21, 19, 118, 0.797);
  font-family: 'Segoe UI', sans-serif;
}

.ai-message h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.ai-message ul {
  margin: 0;
  padding-left: 18px;
  line-height: 1.6;
}

.ai-message li {
  margin-bottom: 6px;
  color: #ffffff;
}
@media(max-width:1951px){
.container .ai-message{
    margin-left: 260px;
}
}
@media(max-width:1099px){
.container .ai-message{
    margin-left: 0px;
}
}